$breakpoint-0: 1440px;
$breakpoint-1: 1200px;
$breakpoint-2: 992px;
$breakpoint-3: 768px;
$breakpoint-4: 576px;
$breakpoint-5: 480px;
$breakpoint-mobile: 375px;

@mixin for-size($size) {
    @if $size == mobile {
        @media (max-width: $breakpoint-mobile) {
            @content;
        }
    } @else if $size == b5 {
        @media (max-width: $breakpoint-5) {
            @content;
        }
    } @else if $size == b4 {
        @media (max-width: $breakpoint-4) {
            @content;
        }
    } @else if $size == b3 {
        @media (max-width: $breakpoint-3) {
            @content;
        }
    } @else if $size == b2 {
        @media (max-width: $breakpoint-2) {
            @content;
        }
    } @else if $size == b1 {
        @media (max-width: $breakpoint-1) {
            @content;
        }
    } @else if $size == b0 {
        @media (max-width: $breakpoint-0) {
            @content;
        }
    }
}